<div class="container">

  <div *ngIf="showActive" class="mb-4">
    <div class="d-flex justify-content-between align-items-center">

      <div ngbDropdown class="d-inline-block" [formGroup]="filterForm">
        <button type="button" class="btn btn-outline-secondary" ngbDropdownToggle>
          <i class="bi bi-filter-left fs-5"></i> Filter
        </button>
        
        <div ngbDropdownMenu class="px-3" (click)="$event.stopPropagation()">
          <h6 class="dropdown-header">Filter by Category</h6>
          <div class="form-check" *ngFor="let cat of allCategories">
            <input 
              class="form-check-input" 
              type="checkbox"
              [formControlName]="cat.id.toString()"
              [id]="'filter-cat-' + cat.id"
            >
            <label class="form-check-label" [for]="'filter-cat-' + cat.id">
              {{ cat.name }}
            </label>
          </div>
        </div>
      </div> <div (click)="showActive = false" class="card card-body text-muted py-2 px-3" style="cursor: pointer; max-width: 200px;">
        <div class="d-flex justify-content-between align-items-center">
          <span>
            <i class="bi bi-archive-fill me-2"></i>
            Archived
          </span>
          <span class="badge bg-secondary rounded-pill">
            {{ archivedNotes.length }}
          </span>
        </div>
      </div> </div> </div> <div *ngIf="!showActive" class="mb-4">
    <button (click)="showActive = true" class="btn btn-outline-secondary">
      <i class="bi bi-arrow-left me-2"></i>
      Back to Active Notes
    </button>
  </div>

  <div *ngIf="showActive">
    <h3>My Active Notes</h3>
    <app-note-item
      *ngFor="let note of activeNotes"
      [note]="note"
      [isArchivedView]="false"
      (archive)="onArchive($event)"
      (edit)="editNoteClicked.emit($event)"
      (delete)="onDelete($event)"
    ></app-note-item>
  </div>

  <div *ngIf="!showActive">
    <h3>My Archived Notes</h3>
    <app-note-item
      *ngFor="let note of archivedNotes"
      [note]="note"
      [isArchivedView]="true"
      (unarchive)="onUnarchive($event)"
      (delete)="onDelete($event)"
    ></app-note-item>
  </div>

</div>